<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script>
    function openNav() {
  document.getElementById("slide").style.width = "200px";
  document.getElementById("lis").style.visibility = "hidden";
  document.getElementById("close").style.visibility = "visible";
}

function closeNav() {
  document.getElementById("slide").style.width = "0";
  
  
  document.getElementById("lis").style.visibility = "visible";
  document.getElementById("close").style.visibility = "hidden";
}
function openform() {
  document.getElementById("form").style.visibility = "visible";
}
function closeform() {
  document.getElementById("form").style.visibility = "hidden";
}

</script>
</head>
<body>
  <div>
    {{>navbar}}</div>
  
</body>
</html>