*{
    box-sizing: border-box;
}

html,body{
    margin: 0px;
    
    background-image: linear-gradient(#16BFFD,#CB3066);
}
#menu #list{
display: inline-block;
margin: 1rem;
color: rgba(3, 3, 3, 0.116);
}
header{
    position: fixed;
    right: 0;
    height: 70px;
    width: 100%;
    background-color:rgba(237, 237, 243, 0.829);
}
#userr{
    width: 35em;
    height: 2.5em;
    border-radius: 10px;
}
#bbtn{
    width: 25em;
    font-weight: bolder;
    height: 3em;
    margin: 20px 50px;
    border-radius: 20px;
}

#headr{
    
    float: right;
    display: inline-flex;
    
    
    
}
.drop{
    list-style-type:none ;
    box-sizing: border-box;
    position: relative;
    margin: 0px;
    padding-right: calc(15px + .7em + .7em);
    
    padding: 8px;
    
}

#drp{
    padding: 10px 25px;
    margin: 20px;
    color: white;
    background-color:rgba(94, 54, 6, 0.863);
    display: block;
    border: 0;
}
.opt{
    position:absolute;
    list-style-type: none;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;
    top: 100%;
    border:  solid #cdcdcd;
    background-color: white;
    box-sizing: border-box;
    font-size: medium;
    visibility: hidden;
    transition: 0.5ms;
}
.opt li a{
    text-decoration: none;
    color: #000;
}

.drf{
    display: block;
    margin: 5px 15px;
    border: 0.0001px black solid;
    height: 0px;
    width: 18px;
    background-color: black;
}
#lis{
    display: block;
    background-color: rgba(255, 235, 205, 0);
    outline: 0px;
    border: 0;
    cursor: pointer;
}
#menu #list a{
    color: rgba(0, 0, 0, 0.733);
    font-size: small;
    font-weight: small;
    text-decoration: none;
    transition: 0.2s;
}
.opt li{
    margin-top: 8px;
}


#sign {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 6px solid transparent;
    border-left: 5px solid transparent;
    color: rgba(240, 255, 255, 0.952);
}
.drop:hover .opt{
    visibility:visible;
    border:1px solid #cdcdcd;



}
.listt{
margin: 1.3em 0.2em 1.5em 0.2em ;

}
.listt:hover{
    background-color: #cdcdcd;
}
.opt li:hover{
    background-color: #cdcdcd;
    padding: 0;
    margin: 0;
    padding: 5px;
}
#menu #list a:hover{
    color: #000;
    text-decoration: 2px rgb(41, 17, 17) underline ;
}
#slide{
    background-color: white;
    border:0px white solid;
    float: right;
    
    width: 0;
    height: 655px;
    
}
#slide #slidemenu li{
    display: block;
    padding: 10px ;
    margin: 0px 10px 0px 0px;
    text-align: center;
    list-style-type: none;
    color: rgb(44, 21, 5);
}
#slide #slidemenu li a{
    text-decoration: none;
    color:rgb(46, 18, 18);
}
#close{

  top: 0;
  visibility:hidden;
  font-size: 36px;
  outline: 0;
  margin: 20px 40px 0px 5px;
  cursor: pointer;

}
#form-box{position: relative;
}
#form{
    position:absolute;
    border:2px rgb(175, 79, 11) solid;
    padding: 10px 20px 100px 20px;
    top: 55px;   
    background-color:white;
    visibility: hidden;
}
.slidebaar{
    background-image: url("https://www.tajhotels.co.uk/wp-content/uploads/2017/10/banner-3.jpg");
    height: 100%;
    width: 100%;
    border: 2px rgb(10, 177, 243) solid;
    
}
#sun{
    margin-top: 385px;
    background-color: white;
    width: 1000px;
    margin-left:9em ;
}
#sll{
    height: 4em;
    font-size: larger;
    font-weight: bold;
    width: 40em;

}
#btn{
    height: 4em;
}
#head{
    height: 100px;
}
#context{
    border: 1px wheat solid;
    width: 50em;
    background-image: radial-gradient(rgb(238, 234, 234),rgb(241, 234, 217));
    margin-left: 20rem;
    height: 100%;
    background-image: url("../image/1.jpg");
    background-position:right;
    background-size: 29em 35em;
    background-repeat: no-repeat;
    
}
#details{
    border: 1px thistle solid;
    background-color: thistle;
    width: 30em;
    
}
#fname{
    float: left;
    /* margin-top: 30px; */
    margin:50px 10px;
}
#lname{
    margin-top: 30px;
    float: right;
    margin: 50px 10px;
}
#nam{
    width: 15em;
    height: 2em;
    border-radius: 10px;
}
.usr{
    width: 35em;
    height: 2em;
    margin:0px 5px 30px 5px;
    border-radius: 10px;  

}
#pass{
    float: left;
    margin: 10px;
}
#confpass{
    float: right;
    margin: 10px;

}
.pas{
    width: 15em;
    height: 2em;
    border-radius: 10px;   
}
#btn{
    height: 40px;
    font-size: 100%;
    width: 15em;
    border-radius: 10px;
    margin: 20px 100px;
    color:rgb(235, 157, 14);
    font-weight:bold ;
}
.col1{
    float: left;
    padding: 30px;
    margin: 0px 20px;
}
.col1 ul li a{
    text-decoration: none;
    font-weight: bold;
    color: violet;
}
.col1 ul li{
    display: block;
}
#foot{
    background-color: white;
}
#webname{
    float: left;
    font-weight: bolder;
    margin: 20px 10px;
    font-size: 120%;
    color: rgb(44, 42, 165);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}