

    <header id="header">
        <div id="webname">the seven leaves of star</div>
        <div>
        <div id="slide">
            
            <ul id="slidemenu">
                
                <li><a href="">ABOUS US</a></li>
                <li><a href="">OUR COLABORATION</a></li>
                <li><a href="">WORKING PROJECT</a></li>
                <li><a href="">OUR MEMBERS</a></li>
                <li><a href="">ACHIEVMENTS</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>
        </div>
<nav id="headr">
<ul id="menu">
<li id="list"><a href="/">HOME</a></li>
<li id="list"><a href="#">DETAILs</DETAILs></a></li>
<li id="list"><a href="#">COLLECTION<a></li>
<li id="list"><a href="#">PARTNERS</a></li>
<li id="list"><a href="#">JOIN US</a></li>
</ul>
<div id="form-box">
<button id="drp" onclick="openform()" ondblclick="closeform()">JOIN OUR TEAM  &nbsp;<span id="sign"></span></button>
<div id="form">
    EMPLOYEE NAME<BR>
        <input type="text" placeholder="ENTER EMPLOYEE NAME" style="width: 25em; margin: 10px 0px; height: 2em;border-color: rgba(22, 21, 20, 0.801);">
        <br>
        <span style="float: left;"> FREE FOR JOIN <br> <input type="date" style="width: 130px; height: 30px;border-color: rgba(12, 11, 11, 0.801);"></span>    
        <span style="float: right;">END DATE OF JOIN <br> <input type="date" style="width: 130px; height: 30px;border-color: rgba(88, 40, 5, 0.801);"></span>
        <br>
        <span style="float: left; margin: 15px 35px 15px 0px;border-color: rgba(88, 40, 5, 0.801);">
            TEAM MEM<br>
            <select style="width: 80px; height: 30px;">
                <option>select</option>
                <option>1</option>
                <option>2</option>
                <option>MORE THEN 2</option>
            </select>
        </span>
        <span style="float: left; margin: 15px 40px 15px 0px;border-color: rgba(88, 40, 5, 0.801);">
            GENDER<br>
            <select style="width: 80px;height: 30px;">
                <option>select</option>
                <option>MALE</option>
                <option>FEMALE</option>
                <option>OTHER</option>
            </select>
        </span>
        <span style="float: right; margin: 15px 0px 0px 0px;border-color: rgba(88, 40, 5, 0.801);">
            AGE<br>
            <select style="width: 80px; height: 30px; border-color: rgba(88, 40, 5, 0.801);">
                <option>select</option>
                <option>18></option>
                <option>< 18 </option>
                
            </select>
        </span><BR>
       <center> <button style="height: 45px; width: 250px;background-color: rgba(116, 54, 9, 0.74); font-weight: bolder;">CHECK AVAIBLITY</button></center>
    </div>
</div>
<span class="listt">
<ul class="drop"><li class="op"><a>English &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="sign" style="color: #000;"> </a></li>
<ul class="opt">
<li class="optA"><a class="linA" href="">Douch</a></li>
<li class="optA"><a class="linA" href="">French</a></li>
<li class="optA"><a class="linA" href="">Germany</a></li>
<li class="optA"><a class="linA" href="">Hindi</a></li>
</ul>
</ul>
</span> 

<button id="lis" onclick="openNav()">
<span class="drf"></span>
<span class="drf">
</span><span class="drf">
</span>
</button>
<span id="close" onclick="closeNav()">&times;</span>
</nav>
</div>
</header>
</div>
